@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Message: @Configuration["Chapter8:DemoApp:Greeting"]</h1>

<feature name="demofeature">
    <h1>Demo feature enabled!</h1>
</feature>
